@using BlazorBindings.Maui.Elements.CommunityToolkit

<PopupWithResult @ref="popup" T="string">
    <VerticalStackLayout Padding="8">
        <Label>Here's the popup</Label>
        <Label>Enter the value:</Label>
        <Entry @bind-Text="text" />
        <Button Text="Submit" OnClick="Close" />
    </VerticalStackLayout>
</PopupWithResult>

@code {
    PopupWithResult<string> popup;
    string text;

    async Task Close()
    {
        await popup.NativeControl.CloseAsync(text);
    }
}